<%- layout("/layouts/boilerplate") %>
    <!-- <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Air BNB</title>
    </head> -->

    <body>
        <h1>Welcome to Air BNB</h1>
        <!-- <form action="/listings/new" method="get">
        <button>Create new Listing</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let i of allListing){ %>
                <a href="/listings/<%= i._id %>">
                    <div class="card col">
                        <img src="<%= i.image.url %>" class="card-img-top" alt="Listing" style="height:15rem">
                        <div class="card-img-overlay"><%=i.description%></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= i.title %> <br>
                                </b>

                                Price: ₹<%= i.price %>/night<br>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>

        </div>



    </body>

    </html>


    <!-- <% allListing.forEach(listing => { %>
            <li>
                <h2><%= listing.title %></h2>
                <p><%= listing.description %></p>
                <p>Price: $<%= listing.price %> per night</p>
                <p>Location: <%= listing.location %></p>
            </li>
        <% }) %> -->