<%- layout("/layouts/boilerplate") %>
    <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body> -->
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Listing details</h3>

            <div class="card col-6 show-card">
                <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Title:</strong>
                            <%= listing.title %> <br>
                        <strong>Description:</strong>
                            <%= listing.description %> <br>
                        <strong>Price : </strong>&#8377 <%= listing.price.toLocaleString("en-IN") %> / night  <br>
                        <strong>Location:</strong>
                            <%= listing.location %> <br>
                        <strong>Country:</strong>
                            <%= listing.country %>  <br>
                    </p>
                </div>
            </div>


            <a class="btn btn-dark" href="/listings/<%= listing._id%>/edit">Edit this Listing</a>
            <br>
            <br>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button class="btn btn-dark mb-3">Delete this Listing</button>
            </form>
        </div>
    </div>